/* (A) WRAPPER */
#quizWrap {
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center; 
}

/* (B) QUESTION */
#quizQn {
  padding: 20px;
  background: #004aad;
  color: #fff;
  font-size: 24px;
  border-radius: 10px;
}

/* (C) ANSWERS */
#quizAns {
  margin: 10px 0;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  justify-content: center;
}
#quizAns input[type=radio] { display: none; }
#quizAns label {
  background: #fafafa;
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
}
#quizAns label.correct {
  background: #adcdff;
  border: 1px solid #60a03f;
}
#quizAns label.wrong {
  background: #adcdff;
  border: 1px solid #c78181;
}

/* (D) BODY... DOES NOT QUITE MATTER */
html, body {
  background: #e2eaf0; 
  font-family: arial, sans-serif;
}

@media all and (min-width: 600px) {
  .aside { flex: 1 0 0; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; } 
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
}

